# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing
.pytest_cache/
.coverage
htmlcov/

# Databases
*.db
*.db.bak
*.sqlite

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output/Assets
output/
.asset_cache/

# OS
.DS_Store
Thumbs.db
